<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	
	<!-- 配置数据源:bean destroy-method="close"的作用是当数据库连接不使用的时候,就把该连接重新放到数据池中,方便下次使用调用
-->
	<bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
		</property>
		<property name="url">
			<value>jdbc:sqlserver://localhost:1433;databaseName=ssh</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value>123</value>
		</property>
		<property name="maxActive">
			<value>100</value>
		</property>
		<property name="maxIdle">
			<value>30</value>
		</property>
		<property name="maxWait">
			<value>10000</value>
		</property>
		<property name="defaultAutoCommit" value="true"/>
	</bean>

 
 
 
<!-- 配置调度工厂 -->
 <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="triggers">
 			<list>
 				<ref bean="simpleTrigger"/>
 			</list>
 		</property>
 </bean>
<!-- 配置作业调度的触发方式（触发器） -->
<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
<property name="jobDetail" ref="QuartzJob"/>
<property name="startDelay" value="0"/><!-- 调度工厂实例化后，经过0秒开始执行调度 -->
<property name="repeatInterval" value="10000"/><!-- 每10秒调度一次 --> 
</bean>
<!--配置调度具体执行的方法 -->
<bean id="QuartzJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">	
	<!-- 这个就是定时器的那个类 -->
	<property name="targetObject">
		<bean class="edu.tinzel.springclock.desktop.QuartzJob"/>
	</property>
	<!-- 这个就是要执行的方法，也就是这前定义的work -->
	<property name="targetMethod" value="work"/>
	<!-- 作业不并发调度，也就意味着单线程，不写就是true -->
	<property name="concurrent" value="false"/>
</bean> 

 

	<!-- 
		defaultAutoCommit：设置从数据源中返回的连接是否采用自动提交机制，默认值为 true； 
	    defaultReadOnly：设置数据源是否仅能执行只读操作， 默认值为 false； 
	    maxActive：最大连接数据库连接数，设置为0时，表示没有限制； 
	    maxIdle：最大等待连接中的数量，设置为0时，表示没有限制； 
	    maxWait：最大等待秒数，单位为毫秒， 超过时间会报出错误信息； 
	    validationQuery：用于验证连接是否成功的查询SQL语句，SQL语句必须至少要返回一行数据， 如你可以简单地设置为：“select count(*) from user”； 
	    removeAbandoned：是否自我中断，默认是 false ； 
	    removeAbandonedTimeout：几秒后数据连接会自动断开，在removeAbandoned为true，提供该值； 
	    logAbandoned：是否记录中断事件， 默认为 false；
	 -->
	
	
	
	
</beans>